.game-label-wraper {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 0% 1rem 0% 1rem;
  margin-bottom: 1rem;
  border-color: black;
}